In [ ]:
# Final Project - Data Science Tools

# Data Science Tools and Ecosystem


In this notebook, we will explore various tools and libraries commonly used in data science.

SyntaxError: invalid syntax (ipython-input-1-2741448751.py, line 5)

In [ ]:
In this notebook, we will explore various tools and libraries commonly used in data science.

SyntaxError: invalid syntax (ipython-input-2-2330607410.py, line 1)

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

In this notebook, we will explore various tools and libraries commonly used in data science.

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools       |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [ ]:
**Objectives:**

- List popular languages for Data Science
- List commonly used Data Science libraries
- Create tables in Markdown
- Write simple arithmetic expressions in Python
- Share Jupyter notebooks on GitHub

## Author

あなたの名前
Noriko Misawa